/* general */
:root {
    --color-green: rgb(40, 167, 69);
    --color-green-dark: rgb(0, 107, 0);
}
.row {
    margin-right: 0px !important;
}
.page-section {
    text-align: center;
}
.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.bg-black {
    background-color: black;
}
.btn-green {
    background-color: var(--color-green) !important;
}
.btn-green:hover {
    background-color: var(--color-green-dark) !important;
    color: white !important; 
}
.curly-font {
    font-family:  'Berkshire Swash', cursive;
}
/* JUMBOTRON */
.jumbotron {
    background-image: url(../images/jumbotron-bg.jpg);
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    height: 500px;
}
.jumbotron h1 {
    font-family: 'Playfair Display SC', serif;
}
.jumbotron li {
    margin: 2px 5px; 
}
.jumbotron .tagline {
    float: right;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0 0 5px 5px;
    margin: 0 5px; 
}
/* DOWNLOAD */
.download {
    background-color: #e9be00;
    height: 400px;
}
.download .container {
    height: 100%; 
}
.download .row {
    height: 80%;
}
/* REVIEWS */
.testimonials .container {
  margin: 50px auto; 
}
.testimonial-image {
    border-radius: 50%;
    max-width: 100%;
    width: 200px; 
    height: 200px;
}
#testimonial1 {
    background-image: url(../images/jennifer.jpg);
}
#testimonial2 {
    background-image: url(../images/alex.jpg);
}
#testimonial3 {
    background-image: url(../images/jackson.jpg);
}

/* TOURS */
.tours {
    background-color: rgb(105, 105, 105);
}
.tours h2 {
  color: white;
  margin-top: 30px; 
}
.tours .cardContainer {
    height: 400px; 
}
.tours .card {
    height: 90%; 
    border: none;
}
.tours .card-body, .tours .bg-image {
    height: 50%; 
    display: flex;
    flex-direction: column;
}
#giants-causeway {
    background-image: url(../images/giants-causeway.jpg);
}
#urban-explore {
    background-image: url(../images/urban-explore.jpg);
}
#fourteen-day {
    background-image: url(../images/14day.jpg);
}
/* SUBSCRIBE */
.subscribe {
    background-image: url(../images/subscribe-bg.jpg);
    height: 400px;
}
.subscribe .fluid-container {
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
}

/* CONTACTS */

.contacts h2 {
    margin: 20px auto;
}
.contacts .card {
    height: 150px;
}
.social {
    margin: 20px auto; 
    font-size: 4em;
}
.social a {
    color: var(--color-green);
}
.social a:hover {
    color: var(--color-green-dark);
    text-decoration: none;
}

/* FOOTER */
footer p {
    margin-bottom: 0px !important;
}